<!DOCTYPE html>
<html>

/* the body */

body {
    height: 100%;
    margin: 0%;
    
}
<head>
<style>

body {background-color: #ffcce6;
	display:flex;
	justify-content: center;
	align-items: center;
	font-family: 'Helvetica Nueue', serif;
    }
h3   {color: #ffcce6;
	font-family: 'Source code Pro', monospace;
    position: relative;
    text-transform: lowercase;
    letter-spacing: 6px;
    font-size: 10vm;
    font-weight: 700;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-size: 120%, 100%;
    -webkit-background clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-ms-background-clip: text;
	-ms-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	background-image: linear-gradient (45deg,
		#7794ff
		#44107A
		#FF1361
		#FFF800);
	animation: .8s shake infinite alternate;
	
}

@keyframes shake {
	0% { transform: skewX(-15deg); }
	5% { transform: skewX(15deg); }
	10% { transform: skewX(-15deg); }
	15% { transform: skewX(15deg); }
	20% { transform: skewX(0deg); }
	100% { transform: skewX(0deg); }
}

p    {color: white;
	text-align: center;}

</style>
</head>

<body>
    <h3 style= "text-align: center">Lean's Website</h3>
    <p style="text-font: Helvetica Neue; text-align: center"><i>self love is the best love</i></p>
	</body>


</body>
    
   

</body>
</html>
